.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 600px;
}

.info p {
  font-weight: 500;
  font-size: 19px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.info img {
  border-radius: 50%;
  width: 50%;
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  color: var(--title);
  width: 20.1ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media (orientation:portrait) {
  .title {
    font-size: 1.5rem;
  }
  .info {
    width: 100%;
  }
  .info p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .info img {
    width: 40%;
    margin: 0;
    margin-top: 2rem;
  }
}

@media (max-width: 400px){
  .title {
    font-size: 1.2rem;
  }
}