.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  width: 300px;
  height: 490px;
  background-color: white;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.container {
  padding: 2px 16px;
}

.name{
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.description{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.githubButtonArea{
  align-self: center;
  height: 30px;
  justify-content: center;
  display: flex;
}

.githubButton{
  align-self: center;
  border-radius: 5px;
  background-color: rgb(83, 80, 255);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: white;
  text-decoration:none; 
}